<!DOCTYPE html>
<html>
<head>
	<title>Estadísticas</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./css/stats.css">
</head>
<body>
	<div id="titulo">
		<h1>Estadísticas</h1>
	</div>
	<div id="container-statistics">
		<div>
			<button class="btn btn-primary" onclick="window.history.back();">Volver</button>
			<table id="tabla-estadisticas" class="tabla">
				<thead>
					<tr>
						<th>Usuario</th>
						<th>Partidas Ganadas</th>
						<th>Partidas Perdidas</th>
						<th>Partidas Empatadas</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Clara</td>
						<td>1</td>
						<td>2</td>
						<td>3</td>
					</tr>
					<tr>
						<td>Lois</td>
						<td>2</td>
						<td>3</td>
						<td>1</td>
					</tr>
					<tr>
						<td>Ana</td>
						<td>3</td>
						<td>1</td>
						<td>2</td>
					</tr>
					<tr>
						<td>Javi</td>
						<td>3</td>
						<td>2</td>
						<td>1</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>